body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.picture-margin-sm {
  padding-top: 60px;
}

.picture-margin-lg {
  padding-top: 80px;
}

.header-margin-lg {
  padding-top: 18px
}

.name-padding {
  padding-left: 10px;
}

.name-margin-sm {
  padding-top: 
}

.slight-margin{
  margin-left: 25px;
}

#name-style-lg {
  font-size: 900%;
  color: #FFFAFA;
  font-family: 'Changa One', cursive;
  letter-spacing: -1px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#face-picture-lg{
    width:180px;
    height: auto;
}

#face-picture-sm{
    width:150px;
    height: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}